@media screen and (max-width: 980px){
	.header-container{
		width:730px;
	}
	.container{
		width:730px;
	}

	.container-content{
		width:730px;
	}

	.main-section{
		width:360px;
	}
	
	.main-name{
		padding:20px;
		font-size:28px;
	}

	.main-links{
		padding:20px 0;
	}
	.image{
		height: 270px;
		width: 360px;
		margin-bottom: 20px;
		margin-right: 0px;
	}
	.article{
		margin-top: 20px;
	}

	.portfolio-container{
		width:360px;
		height: 270px;
	}

	.portfolio-img{
		width:360px;
		height: 270px;
	}
	
	.img-text{
		top:175px;
	}
}